body {
    background-color: rgb(31, 28, 28);
}

.mainDiv {
    position: fixed;
    width: 30%;
    height: 60%;
    top: 20%;
    left: 35%;
    /* border: 2px solid blue; */
    background-color:black;
    border-radius: 10px;
    /* float: left; */

}

.logo {
    background-image: url(smartserv_logo.png);
    position: relative;
    left: 20%;
    top: 10%;
    width: 150%;
    height: 25%;
    background-size: contain;
    background-repeat: no-repeat;
}

.form {
    position: relative;
    width: 30%;
     left: 20%;
     top: 25%;
}

input[type="text"] {
    width: 200%;
    height: 30px;
    border-radius: 5px;
}

input[type="password"] {
    width: 200%;
    height: 30px;
    margin-top: 10px;
border-radius: 5px;

}

button[type="button"] {
    width: 200%;
    height: 40px;
    margin-top: 10px;
}

.forg {
    color: gray;
    position: relative;
    left: 33%;
    top: 30%;
    text-decoration: underline;

}

.forg:hover {
    cursor: pointer;
}